/* custom theme + Bootstrap resets */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.bg-purple { 
   background-color:var(--purple);
}
.text-purple,.text-purple:hover { 
   color:var(--purple);
}    

body {
    font-family: 'Roboto Condensed', sans-serif;
}
